django==3.2.16 #django 
django-environ==0.9.0 # no permite encryptar cosas como documentos etc
django-cors-headers==3.13.0 # nos permite comunicar Back con Front y nos da seguridad para ver quien quiere acceder
djangorestframework==3.14.0 # nos permite crear un Api rest
Pillow==9.3.0 # nos permite manejar imagenes
django-storages==1.13.1 # nos permite almacenar imagenes
django-ckeditor==6.3.2 # nos permite hacer estilo de contenido
psycopg2==2.9.5 # no permite manejar bd potsgres